name: minhtest

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Set up environment
      run: |
        sudo apt-get update -y
        sudo DEBIAN_FRONTEND=noninteractive apt-get install -y git cmake gcc g++ qemu-utils qemu-system-x86 python3-yaml
    - name: Build
      run: |
        echo "Building newest commit in $GITHUB_REF!"
        sh setup_cmake.sh
        cd /tmp/sweb
        make -j$(nproc)
    - name: Test
      run: |
        git clone https://github.com/PaideiaDilemma/Tortillas.git ./tortillas
        cd tortillas
        python3 -m tortillas -C .github/tortillas_config.yml -S ..
